In [ ]:
'he's my friend'

In [ ]:
"he's my friend"

In [ ]:
'I say, "yes"'

In [ ]:
num=3.5
num

In [ ]:
num=3.5
print(num)
type(num)

In [ ]:
exist=True
print(exist)

In [ ]:
exist=False
exist

In [ ]:
a=3
b=6.5
a+b

In [ ]:
age='21'
type(age)

In [ ]:
age=int(age)
print(age+3)

In [ ]:
print(int(age)+3)

In [ ]:
set("he's my friend")

In [ ]:
name='하호진'
age=26
print('저의','이름은',(name)+'이고','나이는',str(age)+'세입니다다다다다아다숭구리당당', sep=' / ')

In [ ]:
a=3
b=4
total=(a+b)*3
total

In [ ]:
user='john'
name='홍길동'
user+name

In [ ]:
print((name)*3)

In [ ]:
a=3
b=5
a>=b

In [ ]:
b<a

In [ ]:
a>b

In [ ]:
a<b

In [ ]:
not(a>b)

In [ ]:
a=3
b=5
print(a+b!=7)

In [ ]:
a=7
b=12
(a==b) and (b>3)

In [ ]:
(a!=b) or (a<0)

In [ ]:
cleaning = '청소'
dinner = '저녁식사준비'
cleaning = True
dinner = False
done=cleaning and dinner
done

In [ ]:
yes=not(cleaning)or (dinner)
yes

In [ ]:
print('안녕하세요!')

In [ ]:
a='안녕'
b=21
print(a,b)

In [ ]:
age=21
print('나이'':',age)

In [ ]:
name='홍길동'
print('나는',name,'입니다.')

In [ ]:
a=3
b=3.5
print(a,'*',b,'=',a*b)

In [ ]:
a=3
b=5
print(a, end='\t')
#print(b)

In [ ]:
cloud = '구름'
ocean ='바다'
up='위'
print(ocean,end= (' '+up+' '))
print(cloud)

In [ ]:
a=3
b=5
c=7
print(a,end='\t')
print(b,end='\t')
print(c)

In [ ]:
print("%d" % 3)
print("%f" % 3.5)
print("%s" % '가')

In [ ]:
print("%d" % 3)
print("%f" % 3.5)
print("%d,%f" % (3,3.5))

In [ ]:
print("%d,%f,%s" % (3,3.5,'hello'), end= " / ")
print(a)

In [ ]:
g=3
h=6
print(g+h)

In [ ]:
age=input("당신의 나이를 입력하세요.")
print("당신의",age,'세 입니다')

In [ ]:
type(age)

In [ ]:
print("당신은 3년 후",int(age)+3,'세 입니다')

In [ ]:
name=input("당신의 이름을 입력하세요.")
print('당신의',name,'입니다.')

In [53]:
type(name)

NameError: name 'name' is not defined

In [86]:
import turtle as t
t.speed ('fastest')
n=100
for i in range(n):
    t.circle(150)
    t.forward(45)
    t.left(200)
    import math
    t.left(90+45)